:root {
  --main-black: #0B1739;

  --green-1: #3EB57C;
  --green-2: #99D3A3;
  --green-3: #95D0A1;
  --green-4: #E2F4E4;

  --grey-1: #858B9C;
  --grey-2: #9DA2B0;
  --grey-3: #CED1D7;
  --grey-4: #E6E6E6;


  --hover-alert: #F25F5C;
  --active-alert: #f22132;
}