@font-face {
  font-family: 'pt-root-ui';
  src: url('/fonts/pt-root-ui.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pt-root-ui';
  src: url('/fonts/pt-root-ui-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pt-root-ui';
  src: url('/fonts/pt-root-ui-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}